<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="whiteboarder.whiteboarder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Backstage"
            android:label="@string/title_activity_backstage"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="whiteboarder.whiteboarder.MainActivity" />
        </activity>
        <activity android:name=".TakePhoto"
            android:label="Take Photo"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="whiteboarder.whiteboarder.MainActivity" />
        </activity>
        <activity android:name=".ReadQR"
            android:label="QR Code Scanner"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="whiteboarder.whiteboarder.MainActivity" />
        </activity>
        <activity android:name=".InSession"
            android:label="Whiteboarder Session"
            android:configChanges="orientation|screenSize"
            android:theme="@style/InSessionTheme"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="whiteboarder.whiteboarder.MainActivity" />
        </activity>
    </application>

</manifest>
