
body {
    background: #ddd;
    font-family: 'Quicksand', sans-serif;
}

#wb-main-container {
	min-width: 70%;
}

.jumbotron-fluid {
	background: white;
	padding: 2rem;
	min-height: 32rem;
}

#qrcode {
	margin: 20px auto;
	text-align: center;
	width: 100px;
	height: 100px;
}

#imagebox img {
	width: 100%;
	height: 100%;
	padding: 100px;
}
